body{
    height: 1000px;
    background-color: #201d24;
    font-family: 'Neuton', serif;
    position: relative;
    

}
h1, h2, h3{
    color: #cbcacc;
}

.head{
    text-align: center;
    padding: 0px;
    margin-top: 50px;
    border-bottom: 1px #fff solid;

}

.login{
    width: 30%;
    height: 300px;
    background-color: #18141d;
    position: absolute;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    border: 1px solid #ccc;
}

/* form{border: 3px solid #f1f1f1;} */

.top{
    border-bottom: 1px solid #ccc;
}

label{
    float: left;
    margin-left: 20px;
}


input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    margin-left: 20px;
}

button{
    float: left;
    padding: 10px;
    background: #ccc;
    margin-left: 20px;
}

.container{
   margin-top: 5%;
   margin-bottom: 5%;
}

.output{
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}